{% load static %}
{% load custom_filters %}

<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
        <a href="{% url 'login' %}" class="header__logo">
            <img src="{% static 'images/logo.png' %} " alt="Logo" />
        </a>

        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu" />
            <label for="responsive-menu" class="toggle-menu">
                <span>Menu</span>
                <div class="toggle-menu__lines"></div>
            </label>
            <ul class="header__menu">
                {% if request.user.is_authenticated %}
                    {% if request.user|has_group:"Managers" %}
                        <li class="avatar avatar--sm dev__avatar add_user_ico"/>&#128119;</li>
                        {% if request.resolver_match.url_name == 'add_employee' %}
                        <li class="header__menuItem"><a href="{% url 'add_employee' %}" class="btn btn--add_user" style="background-color:#299ad7; color:#e5e7eb;">+</a></li>
                        {% else %}
                        <li class="header__menuItem"><a href="{% url 'add_employee' %}" class="btn btn--add_user" style="color:#299ad7;">+</a></li>
                        {% endif %}
                    {% endif %}

                    <li class="header__menuItem">
                        {% if request.user|has_group:"Managers" %}
                            <a {% if request.resolver_match.url_name == 'Manager_leave_requests' %}style="color: var(--color-main-light);"{% endif %}href="{% url 'Manager_leave_requests' %}">Wnioski urlopowe</a>
                        {% else %}
                            <a {% if request.resolver_match.url_name == 'User_leave_requests' %}style="color: var(--color-main-light);"{% endif %}href="{% url 'User_leave_requests' %}">Wnioski urlopowe</a>
                        {% endif %}
                    </li>
                    <li class="header__menuItem">
                        <a {% if request.resolver_match.url_name == 'edit_account' %}style="color: var(--color-main-light);"{% endif %}href="{% url 'edit_account' %}">Harmonogram pracy</a>
                    </li>
                    <li class="header__menuItem">
                        <a {% if request.resolver_match.url_name == 'edit_account' %}style="color: var(--color-main-light);"{% endif %}href="{% url 'edit_account' %}">Moje konto</a>
                    </li>
                    <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--main">Wyloguj</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
