{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="settingsPage profile my-xl">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <div class="card text-center">
          <div class="card__body dev" style="max-height:70rem; overflow-y: auto;">
            {% for user in users %}
            <div class="userCard">
              <img style="margin: 0rem; z-index: 111; background-color: white;" class="avatar avatar--md dev__avatar" src="{{ user.profile.imageURL }}" alt="Profile_logo"/>
              <a href="{% url 'manager_schedules' user.id %}" style="width: -webkit-fill-available;">
                <div class="userCard__text">
                  <p style="color:black;"><b>{{ user.first_name }} {{ user.last_name }}</b></p>
                  <p style="color:black;">{{ user.username }}</p>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="column column--2of3">
        <div class="userCard">
            <img style="margin: 0rem; z-index: 111; background-color: white;" class="avatar avatar--md dev__avatar" src="{{ profile.imageURL }}" alt="Profile_logo"/>
              <div class="userCard__text">
                <p style="color:black;"><b>{{ profile.user.first_name }} {{ profile.user.last_name }}</b></p>
                <p style="color:black;">{{ profile.user.username }}</p>
              </div>
            </a>
          </div>

        {% if not schedule %}
        <div style="display: flex; justify-content: space-between;">
          <a class="btn btn__main" href="{% url 'manager_schedules_nav' selected_user.id 'previous' displayed_date|date:"Y-m" %}">Poprzedni miesiąc</a>
          <h3>{{ displayed_date|date:"F Y" }}</h3>
          <a class="btn btn__main" href="{% url 'manager_schedules_nav' selected_user.id 'next' displayed_date|date:"Y-m" %}">Następny miesiąc</a>
        </div>
        <button class="btn btn__main" onclick="location.href='{% url 'create_schedule' selected_user.id displayed_date|date:"Y-m" %}'">Utwórz harmonogram</button>
        {% else %}
        <div style="display: flex; justify-content: space-between;">
          <a class="btn btn__main" href="{% url 'manager_schedules_nav' selected_user.id 'previous' schedule.date|date:"Y-m" %}">Poprzedni miesiąc</a>
          <h3>{{ schedule.date|date:"F Y" }}</h3>
          <a class="btn btn__main" href="{% url 'manager_schedules_nav' selected_user.id 'next' schedule.date|date:"Y-m" %}">Następny miesiąc</a>
        </div>
        <div class="month-container">
            {% for date, info in schedule_display.items %}
                {% if info.on_leave %}
                <div class="card day_card_request text-center">
                    <p>{{ date|date:"j" }}</p>
                    <p>{{ info.weekday }}</p>
                    <p>Urlop</p>
                    <br>
                </div>
                {% elif info.weekday == 'Sobota' or info.weekday == 'Niedziela' %}
                <div class="card day_card_free text-center">
                    <p>{{ date|date:"j" }}</p>
                    <p>{{ info.weekday }}</p>
                    <p>Wolne</p>
                    <br>
                </div>
                {% else %}
                <div class="day_card card text-center">
                    <p>{{ date|date:"j" }}</p>
                    <p>{{ info.weekday }}</p>
                    {% if info.start_time %}
                        <p>Godziny pracy:<br> {{ info.start_time }} - {{ info.end_time }}</p>
                    {% else %}
                        <p>Godziny pracy:<br> Brak</p>
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>

  </div>
</main>

{% endblock %}