{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="settingsPage profile my-xl">
  <div class="container">
    <div class="layout">
      <div class="column column--1of1">
        {% if not schedule %}
        <h1>Twoje konto nie ma jeszcze przypisanego harmonogramu</h1>
        {% else %}
        <div style="display: flex; justify-content: space-between;">
            <a class="btn btn__main" href="{% url 'user_schedule_navigation' schedule.id 'previous' %}">Poprzedni miesiąc</a>
            <h3>{{ schedule.date|date:"F Y" }}</h3>
            <a class="btn btn__main" href="{% url 'user_schedule_navigation' schedule.id 'next' %}">Następny miesiąc</a>
        </div>
        <div class="month-container">
            {% for _ in blank_days %}
            <div class="card" style="height:auto;"></div>
            {% endfor %}

            {% for date, info in schedule_display.items %}
                {% if info.on_leave %}
                <div class="card day_card_request text-center">
                    <p>{{ date|date:"j" }}, {{ info.weekday }}</p>
                    <p><b>Urlop</b></p>
                    <br>
                </div>
                {% elif info.weekday == 'Sobota' or info.weekday == 'Niedziela' %}
                <div class="card day_card_free text-center">
                    <p>{{ date|date:"j" }}, {{ info.weekday }}</p>
                    <p><b>Wolne</b></p>
                    <br>
                </div>
                {% else %}
                <div class="card day_card text-center">
                  <p>{{ date|date:"j" }}, {{ info.weekday }}</p>
                    {% if info.start_time %}
                        <p>Godziny pracy:<br><b> {{ info.work_start_hour }} - {{ info.work_end_hour }} </b></p>
                    {% else %}
                        <p>Godziny pracy:<br><b> Do ustalenia </b></p>
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</main>

{% endblock %}